body {
  font-family: 'Lato', sans-serif;
/* overflow-x: hidden;  */
  width: 100%;
}

 img, video {
  max-width: 100%;
} 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
COLORES
Rosa #F7E1DC
Dorado #C8A31A
Gris
*/
