body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  width: 100vw;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/*
576
768
992
1200
1 rem = 16px

dorado #C8A31A
rosa 
*/
