@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

.lato-loght {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.lato-regular {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.lato-bold {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.lato-dark {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    width: 100%;
  }
  
img, video {
    max-width: 100%;
  } 
  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color:#58555A;
  }
  
.title {
    color: #C8A31A;
    text-shadow: 3px 2px 1px #F7E1DC;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  
  /*
  COLORES
  Rosa #F7E1DC
  Dorado #C8A31A
  Gris
  */
  