@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.quicksand-light {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

.quicksand-regular {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

.quicksand-medium {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

.quicksand-semibold {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.quicksand-bold {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}

.lora-regular {
  font-family: 'Lora', serif;
  font-weight: 400;
}

.lora-medium {
  font-family: 'Lora', serif;
  font-weight: 500;
}

.pacifico {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;

  }
  
img, video {
    max-width: 100%;
  } 
  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #282828
  }
  
.title {
    color: #C8A31A;
    text-shadow: 3px 2px 1px #F7E1DC;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  
  