/*INICIO FOOTER*/
footer {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  margin: auto ;
  margin-top: 2rem;
  background-color: #F7E1DC;
}

footer p {
    font-weight: 400;
    font-size: 0.7rem;
    text-align: center;
    line-height: 1.3rem;
  }
  
footer h4 {
    color: #C8A31A;
    margin: 1rem 0;
    font-weight: 700;
  }
  
#footer-first-section {

    display: flex;
    flex-flow: column wrap;
    width: 90vw;
    justify-content: center;
    align-content: center;
    padding: 2rem;
    margin: auto;
  }




#footer-first-section article{
  width: 100vw;
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 2rem;
  align-items: center;
  }

footer #footer-second-section {
    padding: 10px;
    background-color: #C6B4B0;
    display: flex;
    flex-flow: column wrap;
  }

/*** PC ***/
@media screen and (min-width: 768px) {      
  #footer-first-section {
    flex-flow: row wrap;

  }

  #footer-first-section figure img {
    width: 20vw;
  } 

#footer-first-section article{
  width: 40vw;
  }

}

/*** PC ***/
@media screen and (min-width: 1200px) {      
  #footer-first-section {
    flex-flow: row wrap;

  }

  #footer-first-section article{
    flex-flow: column wrap;
  }


  #footer-first-section figure img {
    width: 100%;
  }

#footer-first-section article{
  width: 20vw;
  }

  
}