/*INICIO FOOTER*/
footer {
  margin-top: 2rem;
  background-color: #F7E1DC;
}

footer p {
    font-weight: 400;
    font-size: 0.7rem;
    text-align: center;
    line-height: 1.3rem;
  }
  
footer h4 {
    color: #C8A31A;
    margin: 1rem 0;
    font-weight: 700;
  }
  
#footer-first-section {
    width: 90vw;
    padding: 2rem;
  }

#footer-first-section article{
  width: 100vw;
  margin-bottom: 2rem;
  }

footer #footer-second-section {
    padding: 10px;
    background-color: #C6B4B0;
    width: 100%;
  }

/*** PC ***/
@media screen and (min-width: 768px) {     
  #footer-first-section figure img {
    width: 20vw;
  } 

#footer-first-section article{
  width: 40vw;
  }

}

/*** PC ***/
@media screen and (min-width: 1200px) {      
  #footer-first-section figure img {
    width: 100%;
  }

#footer-first-section article{
  width: 20vw;
  }

  
}