header {
    display: flex;
    flex-flow: row wrap;
    height: 15vh;
    justify-content: center;
    align-items: center;
    position:relative;
}

#main-navbar{
    display: none;
}

#navbar-center {
    display: none;
}

#navbar-logo {
    display: flex;
    flex-flow: row wrap;
    width: 20vh;
    margin-top: .5rem;
} 

#logo {
    border-radius:50%;
}

#close i{
    display: flex;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color:#C8A31A;
}

#main-navbar:target{
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(247, 225, 220, 0.8);
    justify-content: center;
    align-items: center;
    flex-direction:column;
    z-index: 2;
    margin-top: 28rem;
}

#main-navbar:target a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
/*     margin-bottom: 0.8rem; */
    color:#C8A31A;
    font-size: 1rem;
    transition: all .3s ease;
    margin-bottom: 1rem;
}

#burger-menu {
    position: absolute;
    right: 10vw;
    top: 5vh;
    font-size: 1.5rem; 
    background-color: #F7E1DC;
    padding: .5rem;
    border-radius: .5rem;
}

#burger-menu i {
    color: #C8A31A;
}

@media screen and (min-width: 768px){
    #close{
        display: none;
    }

    #burger-menu {
        display: none;
    }

    #navbar-logo {
        display: none;
    }

    #main-navbar{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
/*         align-items: center;  */   
    }

    #main-navbar a{
        margin-right: 1rem;
        text-decoration: none;
        font-size: 0.8rem;
    }

    #navbar-left{
        width: 40vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #navbar-center {
/*         align-content: center; */
        margin-top: 1rem;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    #navbar-center img{
        height: 10vw;

    }

    #navbar-right{
        width: 40vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

@media screen and (min-width: 1200px){
    #main-navbar .navbar{
        height: 15vh;
        margin-top: .5rem;
    }
    #navbar-center {
        margin-top: 0.3rem;
    
        }
    #main-navbar a{
        padding: 0 1rem;
        border-radius: 10rem;
        transition: all .4s ease-in-out;
    }
    
    #main-navbar a:not([href="/"]):hover{
        padding: 1rem;
        border-radius: 10rem;
        background-color: #F7E1DC;
        color: #C8A31A;
    }
}