header {
    display: flex;
    width: 100vw;

}

header #navbar-center {
    display: flex;
    width: 70vw;
    height: 100px;
}

header #navbar-center figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    position: absolute;
    top: 2vw;
    left: 5vw;
}

header img {
    max-width: 150px;
    border-radius: 50%;
}

header #burger-menu {
    display: flex;
    width: 40vw;
    justify-content: flex-start;
    align-items: center;
}

.fa-bars {
    background-color: #F7E1DC;
    padding: 10px;
    border: #C8A31A solid 0.03rem;
    border-radius: 5px;
    color: #C8A31A;
    font-size: 1.8rem;
}

#navbar-left {
    display: none;
}

#navbar-right {
    display: none;
}

/*** TABLETS ***/
@media screen and (min-width: 768px) {    
    header #burger-menu {
        display: none;
    }   

    #main-navbar {
        display: flex;
        width: 90vw;
        margin: auto;
        position: relative;
        font-size: 0.8rem;
        text-align: center;
        margin-top: 1.5rem;
    }

    #main-navbar li {
        padding: 1rem;
        transition: all 400ms ease-in-out;
    }

    #main-navbar li:hover{
        color: #C8A31A;
        background-color: #F7E1DC;
        border: none;
        border-radius: 2.5rem;
    }

    #main-navbar li:hover a{
        color: #C8A31A;
        font-weight: 700;
    }

    #main-navbar li a{
        text-decoration: none;
        color: grey;
        text-align: center;
        line-height: 1rem; 
    }
 
    #navbar-left {
        display: inline-flex;
        width: 40vw;  
        align-content: center;
        align-items: center;
        justify-content: flex-start;
    }

    header #navbar-center {
        display: flex;
        width: 20vw;
        justify-content: center;
    }
    
    header #navbar-center figure {
        position: absolute;
        top: 0vw;
        left: 35vw;
        width: 20vw;
    }

    header img {
        max-width: 130px;
    }
    
    #navbar-right {
        display: inline-flex;
        width: 40vw;  
        align-content: center;
        align-items: center;
        justify-content: flex-end;
    }
}

/*** PC ***/
@media screen and (min-width: 1200px) {      
    header img {
        max-width: 150px;
    }
    #main-navbar li {
        margin: 1rem;

    }
    
}