main {
    margin-top: 82px;
    display: flex;
}

.homeTitle {
    width: 100%;
    color: #C8A31A;
    text-shadow: 3px 2px 1px #F7E1DC;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 2rem 0 1rem 0;
    line-height: 2rem;
}

#home-video figure {
    width: 100%;
  }

#home-video figure video {
    width: 100%;
}

#gallery {
    display: flex;
    flex-flow: row wrap;
    width: 90vw;
    margin: auto;
}
  
#gallery img{
    width: 100%;
    padding: 0.4rem;
}
  
#img-principal {
    width: 50%;
    display: flex;
}
  
#img-secundaria {
    width: 50%;
    display: flex;
    flex-flow: row wrap;
}
  
.pic-2, .pic-3 {
    width: 50%;
    height: 50%;
    display: flex;
}
  
.pic-4 {
    width: 100%;
    height: 46%;
    display: flex;
}

@media screen and (min-width: 768px){

    #gallery img{
        padding: 0.5rem;
    }

    #gallery {
        width: 60vw;
    }

    .pic-4 {
        height: 49%;
    }
/*     #gallery figure img{
        transition: all 0.4s ease-in-out;
    }
    
    #gallery figure:hover img{
        box-shadow: 0 0 20px 2px #C8A31A;
    } */
}