.homeTitle {
    flex: 0 0 100%;
    color: rgb(200, 163, 26);
    text-shadow: 3px 2px 1px #F7E1DC;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 2rem 0 1rem 0;
    line-height: 2rem;
}

#gallery {
    width: calc(100vw - 3rem);
}
  
#gallery img{
    width: 100%;
    padding: 0.4rem;
}
  
#img-principal {
    width: 50%;
}
  
#img-secundaria {
    width: 50%;
}
  
.pic-2, .pic-3 {
    width: 50%;
    height: 50%;
}
  
.pic-4 {
    width: 100%;
    height: 46%;
}

@media screen and (min-width: 768px){
    .homeTitle {
        font-size: 1.9rem;
    }

    #home-video figure video {
        width: 100vw;
    }

    #gallery img{
        padding: 0.5rem;
    }

    #gallery {
        width: 60vw;
    }

    .pic-4 {
        height: 49%;
    }


    
}