main section {
    padding-top: 5vh;
    width: calc(100vw - 3rem);
    padding-bottom: 2rem;
}

main section figure{
    display: none;
}

article.texto p {
    font-size: 1rem;
    line-height: 1.4rem;
    text-align: center;
    color: #58555A;
}

article.texto button  {
    border: none;
    background-color: transparent;
    margin-top: 1rem;
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
}

article.texto button a{
    border: none;
    background-color: #F7E1DC;
    color: #C8A31A;
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    font-weight: 700;
    margin-top: 1.3rem;
    font-size: 0.9rem;
    width: auto;
    align-self: center;
    text-decoration: none;
    color: #58555A;
    transition: all .4s ease-in-out;
}

article.texto button:hover a{
    background-color: #C8A31A;
    color: #F7E1DC;
    border-radius: 1.5rem;
    padding: 0.5rem 2rem;
}  

article.texto .destacado {
    margin-top: 2rem;
    color: #C8A31A;
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    main section {
        margin-top: 5vh;
        width: 90vw;
        height: 50vh;
        position: relative;
    }

    main section figure{
        display: flex;
        width: 45%;
        z-index: -1;
        border-radius: 1rem;
        border: #C8A31A .05rem solid;
        overflow: hidden;
    }

    main section article figure.img1{
        position: absolute;
        top: 0;
        left: 0;
    }

    main section article figure.img2{
        position: absolute;
        bottom: 0;
        right: 0;
    }

    main section article figure.img3{
        position: absolute;
        top: 0;
        left: 0;
    }

    main section figure.img4{
        position: absolute;
        bottom: 0;
        right: 0;
    }

    main section article.texto {
        width: 60%;
        box-shadow: -2px 1px 18px -3px rgba(0,0,0,0.64);
        padding: 1rem;
        border-radius: 1rem;
        background-color: var(--rosa);
    }

    main h2.title {
        font-size: 1.2rem;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
    }

    article p {
        font-size: .9rem;
        line-height: 1.3rem;
    }

    article .destacado {
        margin-top: 1rem;
    }
    
    main article button  {
        margin-top:1.5rem;
    }
    
}

@media screen and (min-width: 1200px) {
    main section {
        margin-top: 7vh;
        width: 70vw;
        height: 100vh;
    }

    main section figure{
        width: 45%;
    }

    article p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

}