.img-rounded {
    border-radius: 50%;
    width: 40vw;
    border: #C8A31A .05rem solid;
}

.chisiamoFlorencia {
    width: 100vw;
    margin-bottom: 2rem;
    text-align: justify;
    line-height: 1.4rem;
    padding: 3rem;
    padding-top: 4rem;
    background: #F7E1DC;

}

.chisiamoFlorencia article p{
    margin: 1rem 0;
}

.chisiamoTeam .destacado, .chisiamoFlorencia .destacado {
    color: #C8A31A;
    font-weight: 700;
    text-align: center;
}

.chisiamoTeam img{
    margin-bottom: 1rem;
}

.chisiamoTeam p {
    text-align: center;
    font-size: 1rem;
    line-height: 1.4rem;
    color: #58555A;
} 


@media screen and (min-width: 768px) {
    .img-rounded {
        width: 20vw;
        transition: all .4s ease-in-out;
    }

    .img-rounded:hover {
        transform: scale(1.1);
    }

    .chisiamoFlorencia {
        padding-top: 4.5rem;
    }

    .chisiamoFlorencia article p{
        margin: .9rem 0;
        width: 80vw;
    }

    .chisiamoTeam article{
        margin-top: 1.5rem;
    }
}

@media screen and (min-width: 1200px) {
    .chisiamoFlorencia {
        width: 100%;
    }

    .img-rounded {
        width: 13vw;
    }

    .chisiamoFlorencia article p{
        width: 60vw;
    }

    .chisiamoTeam{
        width: 100%;
    }

    .chisiamoTeam article{
        margin-top: 1.5rem;
        width: 50%;
    }

    .chisiamoTeam h2{
        width:80%;
    }

    .chisiamoTeam figure{
        margin-bottom: 1rem;
    }
}