main {
    margin-top: 160px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

main h2 {
    color: #C8A31A;
    font-weight: 700;
    font-size: 1.5rem;
    margin: .8rem 0;
    text-shadow: 3px 2px 1px #F7E1DC;
}

main .catalogo {
    margin-bottom: 1rem;
    height: 55vw;
}

.catalogo {
    display: flex;
    position: relative;
/*     overflow: hidden; */
    width: 90vw;
    align-self: center;
}

.catalogo article {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;
    z-index: 3;
    align-self: center;
/*     width: 70vw; */
    margin: auto;
    line-height: 1.3rem;
}

.catalogo::before {
    content: ' ';
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
    background-image: url(/img/cataloghi/IMG_0198.jpeg);
    background-repeat: no-repeat;
/*     background-position: 50% 0; */
    background-size: cover;
    border-radius: 2rem;
}

.catalogo::before {
    content: ' ';
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2rem;
}

#menu::before {
    background-image: url(/img/cataloghi/IMG_0198.jpeg);
}

#torte::before {
    background-image: url(/img/cataloghi/IMG_4920.jpeg);
}

#te::before {
    background-image: url(/img/cataloghi/Roses.jpeg);
}

#delivery::before {
    background-image: url(/img/cataloghi/IMG_5252.jpg); 
}

main .catalogo button {
    border: none;
    background-color: #F7E1DC;
    color: #C8A31A;
    border-radius: 1rem;
    padding: 0.5rem;
    font-weight: 700;
    margin-top: 1rem;
    font-size: 0.9rem;
    transition: all .4s ease-in-out;
    width: auto;
    align-self: center;
}

main .catalogo button:hover {
    background-color: #C8A31A;
    color: #F7E1DC;
    border-radius: 1.5rem;
    padding: 0.5rem; 
}  

@media screen and (min-width: 768px) {

    main .catalogo {
        height: 30vw;

    }

    .catalogo {
        width: 60vw;
    }

    .catalogo::before {
        opacity: 1;
        transition: all .4s ease-in-out;
    }

    .catalogo article p, .catalogo article button{
        visibility:hidden;
        opacity:0;
        transition:all .4s linear;
    }

    .catalogo:hover::before{
        opacity:0.4;
    }

    .catalogo:hover article p, .catalogo:hover article button{
        visibility:visible;
        opacity: 1;
    }

    .catalogo article {
        padding: 0;
    }

    .catalogo article h2{
        font-size: 2.5rem;
        padding: 1.5rem;
        background-color: #F7E1DC;
        margin-top: 15%;
        transition: all .4s ease-in-out;
        box-shadow: 0 0 5px 0.5px #C8A31A;
    }

    .catalogo:hover h2{
        transform: scale(0.7);
        margin-top: 0;
        background-color: transparent;
        box-shadow: none;
    }

}

@media screen and (min-width: 1200px) {
    
    main {
        flex-flow: row wrap;
        width: 100%;
        margin-top: 160px;
        justify-content: space-evenly;
    }

    main .catalogo{
/*         display: flex;
        flex-flow: row wrap; */
        height: 20vw;
        width: 35vw; 
        margin: 1rem;
        justify-content: center;
    }
    main .catalogo p {
        padding: 1rem;
    }
}