main {
    padding-top: 7vh;
    text-align: center;
}

main .catalogo {
    margin-bottom: 1rem;
    position: relative;
    color: #58555A;
    height: auto;
    width: 100vw;
}

.catalogo figure {
    width: calc(100vw - 2rem);
    opacity: 0.4;
    position: absolute;
    z-index: -1;
    width: 100%;
    display: none;
}

.catalogo article {
    display: flex;
    flex-direction: column;
    width: 70vw;

}

.catalogo article .title{
    margin-top: 1rem;
    line-height: 2.5rem
}

main .catalogo button {
    border: none;
    background-color: #F7E1DC;
    color: #C8A31A;
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    font-weight: 700;
    margin-top: 1rem;
    font-size: 0.9rem;
    transition: all .4s ease-in-out;
    align-self: center;
}

@media screen and (min-width: 768px) {
    main {
        padding-top: 0vh;
    }

    .catalogo figure {
        width: 50%;
        opacity: 1;
        position: relative;
        z-index: 1;
        display: flex;
    }

    main .catalogo {
        height: auto;
        width: 100%;
        background-color: var(--rosa);
        margin-bottom: 0;
    }

    .catalogo article {
        width: 50%;
        padding: 0 1.5rem;    
    }

    .catalogo article .title {
        text-transform: uppercase;
        font-size: 1.2rem;
        margin-top: 0;
        margin-bottom: .5rem;
    }
    
    main .catalogo button:hover {
        background-color: #C8A31A;
        color: #F7E1DC;
        border-radius: 1.5rem;
        padding: 0.5rem 2rem;
    }  

}

@media screen and (min-width: 1200px) {
    .catalogo article {
        padding: 1.5rem;
    }

}