main {
    padding-top: 10vh;
    text-align: center;
}

main .catalogo {
    margin-bottom: 1rem;
    position: relative;
    color: #58555A;
}

.catalogo figure {
    width: calc(100vw - 2rem);
    opacity: 0.4;
}

.catalogo figure img {
    border-radius: 1rem;
    border: #C8A31A .05rem solid;
}

.catalogo article {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5vw;
    left: 15vw;
    z-index: 3;
    width: 70vw;
    line-height: 1.3rem;
}

main .catalogo button {
    border: none;
    background-color: #F7E1DC;
    color: #C8A31A;
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    font-weight: 700;
    margin-top: 1rem;
    font-size: 0.9rem;
    transition: all .4s ease-in-out;
    align-self: center;
}

@media screen and (min-width: 768px) {
    main {
        padding-top: 5vh;
    }

    .catalogo figure {
        width: calc(100vw - 7rem);
    }

    .catalogo article {
        top: 20vw;
        left: 20vw;
        width: 60vw;
    }
    
    main .catalogo button:hover {
        background-color: #C8A31A;
        color: #F7E1DC;
        border-radius: 1.5rem;
        padding: 0.5rem 2rem;
    }  

}

@media screen and (min-width: 1200px) {
    main {
        padding-top: 4.37rem; 
    }

    .catalogo figure {
        width: 40vw;
        opacity: 1;
    }

    .catalogo article {
        display: flex;
        position: initial;
        width: 30vw;
        line-height: 1.3rem;
        align-self: center;
        padding: 3rem;
    }

    main .catalogo button {
        font-size: 1rem;
        background-color: transparent;
    }
    

}