main {
    margin-top: 82px;
}

.img-rounded {
    border-radius: 50%;
    width: 40vw;
    border: #C8A31A .05rem solid;
}

.chisiamoFlorencia {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-bottom: 2rem;
    text-align: center;
    color: #58555A;
    font-size: 1rem;
    line-height: 1.4rem;
    padding: .5rem;
    background: #F7E1DC;

/*     width: 100%; */
    padding-top: 4rem;
}

.chisiamoFlorencia article p{
    margin: .5rem 1rem;
}

.chisiamoTeam {
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
}

.homeChisiamo {
    display: flex;
    flex-direction: column;
    width: 100vw;
    color: #C8A31A;
    text-shadow: 3px 2px 1px #F7E1DC;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.chisiamoTeam article{
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

.chisiamoTeam p {
    text-align: center;
    font-size: 1rem;
    line-height: 1.4rem;
    color: #58555A;
} 

.chisiamoTeam .destacado, .chisiamoFlorencia .destacado {
    color: #C8A31A;
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    .img-rounded {
        width: 20vw;
        transition: all .4s ease-in-out;
    }

    .img-rounded:hover {
        transform: scale(1.1);
    }

    .chisiamoFlorencia {
        padding-top: 4.5rem;
    }

    .chisiamoFlorencia article p{
        margin: .9rem 0;
        width: 80vw;
    }

    .chisiamoTeam article{
        margin-top: 1.5rem;
    }
}

@media screen and (min-width: 1200px) {
    .chisiamoFlorencia {
        width: 100%;
    }

    .img-rounded {
        width: 13vw;
    }

    .chisiamoFlorencia article p{
        width: 70vw;
    }

    .chisiamoTeam {
        width: 90vw;
        margin: auto;
    }
    
    .homeChisiamo {
        width: 100%;
    }

    .chisiamoTeam article{
        flex-direction: column;
        width: 40vw;
        justify-content: space-around;
        align-items: center;
        margin-top: 1.5rem;
    }

    .chisiamoTeam figure{
        margin-bottom: 1rem;
    }
}