main {
  margin-top: 95px;
  display: flex;
  width: 100vw;
  flex-flow: column wrap;
}

/* #carrousel {
  display: flex;
  width: 100vw;
  height: 400px; 
  background: #F7E1DC;
} */

#home-video h2, #home-gallery h2 {
    display: flex;
    justify-content: center;
    width: 100vw;
    color: #C8A31A;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    margin: 1rem 0;
  }

.title-line-left {
  width: 10vw;
/*   border: #F7E1DC solid 1rem; */
  position: absolute;
  display: flex;

  background: #F7E1DC;
  height: 2rem;
  border: none;
}

.title-line-right {
  width: 10vw;
  border: #F7E1DC solid 1rem;
  position: absolute;
  right: 10vw;
  top: 0vw;
  flex: block;
}

figure video {
  display: flex;
  width: 100vw;
  width: 100vw;
}

#gallery {
  display: flex;
  flex-flow: row wrap;
  width: 70vw;
  margin: auto;
}

#gallery img{
  width: 100%;
  padding: 0.3rem;
}

#img-principal {
  width: 50%;
  display: flex;
}

#img-secundaria {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
}

.pic-2, .pic-3 {
  width: 50%;
  height: 50%;
  display: flex;
}

.pic-4 {
  width: 100%;
  width: 100%;
  display: flex;
}

@media screen and (min-width: 768px) { 

  .title-line-left {
    left: 25vw;
  }
  
  .title-line-right {
    right: 25vw;
  }

#gallery figure {
  box-shadow: none;
transition: all 400ms ease-in-out;
}

#gallery figure:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

}

@media screen and (min-width: 120px) { 

  .title-line-left {
    left: 30vw;
  }
  
  .title-line-right {
    right: 30vw;
  }

}