main {
    padding-top: 7vh;
    text-align: center;
}

main .catalogo {
    margin-bottom: 1rem;
    position: relative;
    color: #58555A;
    height: 30vh;
}

.catalogo figure {
    width: calc(100vw - 2rem);
    opacity: 0.4;
    position: absolute;
    z-index: -1;
}

.catalogo figure img {
    border-radius: 1rem;
    border: #C8A31A .05rem solid;
}

.catalogo article {
    display: flex;
    flex-direction: column;
    width: 70vw;
    line-height: 1.3rem;
}

main .catalogo button {
    border: none;
    background-color: #F7E1DC;
    color: #C8A31A;
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    font-weight: 700;
    margin-top: 1rem;
    font-size: 0.9rem;
    transition: all .4s ease-in-out;
    align-self: center;
}

@media screen and (min-width: 768px) {
    main {
        padding-top: 5vh;
    }

    .catalogo figure {
        width: calc(50vw - 2rem);
        opacity: 1;
        position: relative;
        z-index: 1;
    }

    main .catalogo {
        height: auto;
        width: calc(100vw - 1rem);
    }

    .catalogo article {
        width: calc(50vw - 1rem);
    }
    
    main .catalogo button:hover {
        background-color: #C8A31A;
        color: #F7E1DC;
        border-radius: 1.5rem;
        padding: 0.5rem 2rem;
    }  

}

@media screen and (min-width: 1200px) {
    main {
        padding-top: 10vh;
    }

    .catalogo figure {
        width: calc(40vw - 2rem);
    }

    main .catalogo {
        width: calc(100vw - 1rem);
    }

    .catalogo article {
        width: calc(40vw - 1rem);
    }


}