<!DOCTYPE html>
<html lang="it">
	<%- include ("./partials/head") %> 
	<body>
		<%- include ("./partials/header") %> 
		<main>
			<section>
				<article class="img">
					<figure>
						<img src="img/eventi/Roses (80).jpeg" alt="">
					</figure>
					<figure>
						<img src="img/eventi/IMG_4803.jpg" alt="">
					</figure>
					<figure>
						<img src="img/eventi/IMG_4803.jpg" alt="">
					</figure>
				</article>
				<section class="informacion">
					<article class="texto">
						<h2 class="title">Afternoon tea experience</h2>
						<p>Il nostro Afternoon-Tea è perfetto per tutti i tuoi festeggiamenti. Servito nel tradizionale servizio da tè, con una fine selezione di sandwiches, scones artigianali, marmellate, mini pasticceria e per finire una delle nostre fette di torta a scelta dalla vetrina. Il tutto prepaparato dalla nostra pastry-chef Maria Tamburrano, ed accompagnato da un'ampia selezione di 80 diversi tipi di tè in foglia ed infusi.</p>
						<p>Il servizio è disponibile con prenotazione anticipata dal Martedì alla Domenica, dalle 09:00 alle 19:00.</p>	
						<button>
							<a href="mailto:info@rosesandteaofficial.com">RESERVA</a>
						</button>
					</article>
					<article class="texto">
						<h2 class="title">We celebrate</h2>
						<p>Festeggia con noi! Afternoon-Tea Party!</p>
						<p>Trasforma la tua festa in una giornata indimenticabile con il nostro Afternoon-Tea personalizzato. Offriamo il nostro elegante servizio con l'aggiunta di inviti personalizzati spediti tramite whatsapp, segnaposto con nome di ogni invitato, e menu stampato con temi a scelta personalizzati.</p>	
						<button>
							<a>MENU</a>
						</button>
					</article>
				</section>
				<article class="img">
					<figure>
						<img src="img/eventi/IMG_4925.jpg" alt="">
					</figure>
					<figure>
						<img src="img/eventi/IMG_4947.jpeg" alt="">
					</figure>
					<figure>
						<img src="img/eventi/IMG_4803.jpg" alt="">
					</figure>
				</article>
			</section>
		</main>
		<%- include ("./partials/footer") %> 
	</body>
</html>
