<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Roses & Tea</title>
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/carousel.css">
	<link rel="stylesheet" href="/css/main-cataloghi.css">
	<link rel="stylesheet" href="/css/footer.css">
	<link rel="stylesheet" href="/css/body.css">
</head>
<body>
	<header>
		<nav id="main-navbar">
			<ul id="navbar-left">
				<li><a href="/chi-siamo">CHI SIAMO</a></li>
				<li><a href="/cataloghi">CATALOGHI / MENU</a></li>
				<li><a href="/eventi">EVENTI</a></li>
			</ul>
			<ul id="navbar-center">
				<li><a href="/"><figure><img id="logo" src="/img/logo.png" alt="Roses & Tea"></figure></a></li>
			</ul> 
			<ul id="navbar-right">
				<li><a href="/brunch-afternoon-tea">BRUNCH / AFTERNOON TEA</a></li>
				<li><a href="/shop">SHOP</a></li>
				<li><a href="/conttato">CONTATTO</a></li>
			</ul>
		</nav>
		<nav id="burger-menu">
			<a href="#">
				<i class="fas fa-bars"></i>
			</a>
		</nav>
	</header>
	<main>
		<section class="catalogo rosa">
			<figure>
				<img src="/img/cataloghi/IMG_0198.jpeg" alt="">
			</figure>
			<article>
				<h2>Il nostro menù</h2>
				<p>Qui troverai il nostro menu contenente al suo interno tutte le nostre specialitá: caffe, milkshakes, gelati, centrifugati, tea-cocktails, drinks, torte, cupcakes, lunch, breakfast e brunch.</p>
				<button type="button" onClick="location.href='Pdf/Menu.pdf'">
					MENU
				</button>
			</article>
		</section>
		<section class="catalogo celeste">
			<article>
				<h2>Catalogo Torte</h2>
				<p>Tutta la nostra linea di torte e pasticceria raffinata. Realizza i tuoi sogni.</p>
				<button type="button" onClick="location.href='Pdf/Menu.pdf'">
					CATALOGO TORTE
				</button>
			</article>
			<figure>
				<img src="/img/cataloghi/IMG_4920.jpeg" alt="">
			</figure>
		</section>
		<section class="catalogo rosa">
			<figure>
				<img src="/img/cataloghi/roses.jpeg" alt="">
			</figure>
			<article>
				<h2>Menu Te</h2>
				<p>80 tipi di miscele con sapori e profumi che ti faranno girare il mondo.</p>
				<button type="button" onClick="location.href='Pdf/Menu.pdf'">
					MENU TE
				</button>
			</article>
		</section>
		<section class="catalogo celeste">
			<article>
				<h2>Menu delivery</h2>
				<p>L'esperienza e la qualità di Roses And Tea ora possono essere portate a casa. Dolci squisiti e Box speciali;  abbiamo opzioni per soddisfare tutti i gusti. Scopri tutte le opzioni adatte a te in questo menù.</p>
				<button type="button" onClick="location.href='Pdf/Menu Te.pdf'">
					MENU DELIVERY
				</button>
			</article>
			<figure>
				<img src="/img/cataloghi/IMG_5252.jpg" alt="">
			</figure>
		</section>
	</main>
   	<footer>
	<section id="footer-first-section">
		<article>
			<figure>
				<img src="/img/footer/delivery.png" alt="delivery">
			</figure>
			<h4>DELIVERY</h4>
		</article>
		<article>
			<figure>
				<img src="/img/footer/conttato.png" alt="conttato">
			</figure>
			<h4>CONTTATO</h4>
		</article>
		<article>
			<figure>
				<img src="img/footer/orari.png" alt="orari">
			</figure>
			<h4>ORARI DE APERTURA</h4>
		</article>
		<article>
			<img src="">
			<h4>REDES</h4>
		</article>
	</section>
	<section id="footer-second-section">
		<p>Via San Dalmazzo 7, 10122 Torino (TO) - Tel. 011.199.222.82 - P.IVA 11885920014</p>
		<p>© 2021 Copyright: Roses & Tea</p>
		<p>rosesandteaofficial.com</p>
	</section>
	</footer>
</body>
</html>