<!DOCTYPE html>
<html lang="it">
	<%- include ("./partials/head") %> 
<body>
	<%- include ("./partials/header") %> 
	<main>
		<section class="catalogo">
			<figure>
				<img src="/img/cataloghi/IMG_0198.jpeg" alt="">
			</figure>
			<article>
				<h2 class="title">Il nostro menù</h2>
				<p>Qui troverai il nostro menu contenente al suo interno tutte le nostre specialitá: caffe, milkshakes, gelati, centrifugati, tea-cocktails, drinks, torte, cupcakes, lunch, breakfast e brunch.</p>
				<button type="button" onClick="location.href='Pdf/Menu.pdf'">
					MENU
				</button>
			</article>
		</section>
		<section class="catalogo">
			<article>
				<h2 class="title">Catalogo Torte</h2>
				<p>Tutta la nostra linea di torte e pasticceria raffinata. Realizza i tuoi sogni.</p>
				<button type="button" onClick="location.href='Pdf/Menu.pdf'">
					CATALOGO TORTE
				</button>
			</article>
			<figure>
				<img src="/img/cataloghi/IMG_4920.jpeg" alt="">
			</figure>
		</section>
		<section class="catalogo">
			<figure>
				<img src="/img/cataloghi/roses.jpeg" alt="">
			</figure>
			<article>
				<h2 class="title">Menu Te</h2>
				<p>80 tipi di miscele con sapori e profumi che ti faranno girare il mondo.</p>
				<button type="button" onClick="location.href='Pdf/Menu.pdf'">
					MENU TE
				</button>
			</article>
		</section>
		<section class="catalogo">
			<article>
				<h2 class="title">Menu delivery</h2>
				<p>L'esperienza e la qualità di Roses And Tea ora possono essere portate a casa. Dolci squisiti e Box speciali;  abbiamo opzioni per soddisfare tutti i gusti. Scopri tutte le opzioni adatte a te in questo menù.</p>
				<button type="button" onClick="location.href='Pdf/Menu Te.pdf'">
					MENU DELIVERY
				</button>
			</article>
			<figure>
				<img src="/img/cataloghi/IMG_5252.jpg" alt="">
			</figure>
		</section>
	</main>
	<%- include ("./partials/footer") %> 
</body>
</html>