<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Roses & Tea</title>
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/carousel.css">
	<link rel="stylesheet" href="/css/main-chi-siamo.css">
	<link rel="stylesheet" href="/css/footer.css">
	<link rel="stylesheet" href="/css/body.css">
</head>
<body>
	<header>
		<nav id="main-navbar">
			<ul id="navbar-left">
				<li><a href="/chi-siamo">CHI SIAMO</a></li>
				<li><a href="/cataloghi">CATALOGHI / MENU</a></li>
				<li><a href="/eventi">EVENTI</a></li>
			</ul>
			<ul id="navbar-center">
				<li><a href="/"><figure><img id="logo" src="/img/logo.png" alt="Roses & Tea"></figure></a></li>
			</ul> 
			<ul id="navbar-right">
				<li><a href="/brunch-afternoon-tea">BRUNCH / AFTERNOON TEA</a></li>
				<li><a href="/shop">SHOP</a></li>
				<li><a href="/conttato">CONTATTO</a></li>
			</ul>
		</nav>
		<nav id="burger-menu">
			<a href="#">
				<i class="fas fa-bars"></i>
			</a>
		</nav>
	</header>
	<main>
		<section class="chisiamoFlorencia">
			<figure>
				<img class="img-rounded" src="/img/chi siamo/florencia.jpg"  alt="Rose & Tea">
			</figure>
			<article>
				<p>Mi chiamo Florencia, ho 32 anni, sono Argentina. Fin da piccola sognavo di aprire la mia sala da tè. Volevo aprire un posto multiculturale, dove si respirasse aria di mondo, dove la gente potesse vivere un’ esperienza unica in un’ atmosfera da sogno. E’ stato così che ho ristrutturato un locale storico del 1600 nel quadrilatero Romano di Torino ed il sogno ha iniziato a prendere forma…atmosfera floreale, raffinata pasticceria, ottima attenzione, un team di lavoro appassionato, servizi da tè da sogno, selezione di infusi da tutto il mondo. 
					Proponiamo menu breakfast, Brunch, pranzo, Afternoon tea, apertivi, organizziamo eventi dentro e fuori Roses (compleanni, battesimi, Baby shower, comunioni, workshop, sweet-tables, banqueting, tavoli dolci per matrimoni. Abbiamo un nostro catalogo di torte Roses e trasformiamo il tuo sogno in realtà. Realizziamo sapori unici da ogni parte del mondo.</p>
				<p class="destacado">Vi invito a conoscere e vivere l’esperienza Roses...</p>
				<p class="destacado">Vi invito a sognare...</p>
			</article>
		</section>
		<section class="chisiamoTeam">
			<figure>
				<img class="img-rounded" src="/img/chi siamo/foto2.jpg"  alt="Rose & Tea">
			</figure>
			<article>
				<h4 class="destacado">MARÍA TAMBURRANO</h4>
				<p>Pasticciera</p>
			</article>
		</section>
		<!-- <section class="item">
			<ul id="content-slider" class="content-slider">
				<li>
					<img src="img/chi siamo/IMG_3862.jpg" style="width: 100%">
				</li>
				<li>
					<img src="img/chi siamo/IMG_3864.jpg" style="width: 100%">
				</li>
				<li>
					<img src="img/chi siamo/IMG_3869.jpg" style="width: 100%">
				</li>
				<li>
					<img src="img/chi siamo/IMG_3863.jpg" style="width: 100%">
				</li>
				<li>
				  <img src="img/chi siamo/IMG_3861.jpg" style="width: 100%"> 
				</li>
				<li>
				   <img src="img/chi siamo/IMG_3865.jpg" style="width: 100%">
				</li>
			</ul>
		</section> -->
	</main>
	<footer>
		<section id="footer-first-section">
			<article>
				<figure>
					<img src="/img/footer/delivery.png" alt="delivery">
				</figure>
				<h4>DELIVERY</h4>
			</article>
			<article>
				<figure>
					<img src="/img/footer/conttato.png" alt="conttato">
				</figure>
				<h4>CONTTATO</h4>
			</article>
			<article>
				<figure>
					<img src="img/footer/orari.png" alt="orari">
				</figure>
				<h4>ORARI DE APERTURA</h4>
			</article>
			<article>
				<img src="">
				<h4>REDES</h4>
			</article>
		</section>
		<section id="footer-second-section">
			<p>Via San Dalmazzo 7, 10122 Torino (TO) - Tel. 011.199.222.82 - P.IVA 11885920014</p>
			<p>© 2021 Copyright: Roses & Tea</p>
			<p>rosesandteaofficial.com</p>
		</section>
	</footer>
</body>
</html>