<!DOCTYPE html>
<html lang="it">
	<%- include ("./partials/head") %> 
	<body>
		<%- include ("./partials/header") %> 
		<main>
			<section>
				<article class="img">
					<figure>
						<img src="img/eventi/Roses (80).jpeg" alt="">
					</figure>
					<figure>
						<img src="img/eventi/IMG_4803.jpg" alt="">
					</figure>
				</article>
				<article class="informacion">
					<h2 class="title">Eventi en Roses & Tea</h2>
					<p class="texto">Hai un evento speciale?</p>
					<p>Noi ti aiutiamo a realizzare la festa dei tuoi sogni</p>
					<p>Rendi la tua festa speciale con noi.</p>	
					<p>Organizziamo feste su misura per te con un menu personalizzato con ingredienti di prima qualità. Tutto realizzato con tanto amore.</p>	
					<p class="destacado">Compleanni, baby shower, gender reveal, addio al nubilato, battesimi, comunione, tavoli personalizzati, workshops, banqueting, torte personalizzate, tavoli personalizzati, esposizione di prodotti.</p>
					<button>
						<a href="mailto:eventi@rosesandteaofficial.com">PEDIR PRESUPUESTO</a>
					</button>
				</article>
				<article class="img">
					<figure>
						<img src="img/eventi/IMG_4925.jpg" alt="">
					</figure>
					<figure>
						<img src="img/eventi/IMG_4947.jpeg" alt="">
					</figure>
				</article>
			</section>
		</main>
	<!-- 
						<ul id="content-slider" class="content-slider">
								<li>
									<img src="img/eventi/IMG_4076.jpg" style="width: 100%">
								</li>
								<li>
									<img src="img/eventi/IMG_4803.jpg" style="width: 100%">
								</li>
								<li>
									<img src="img/eventi/IMG_4925.jpg" style="width: 100%">
								</li>
								<li>
									<img src="img/eventi/IMG_4947.jpeg" style="width: 100%">
								</li>
								<li>
								<img src="img/eventi/Roses (80).jpeg" style="width: 100%"> 
								</li>
								<li>
								<img src="img/eventi/IMG_3913 2.jpg" style="width: 100%">
								</li>
						</ul>

	-->
	<%- include ("./partials/footer") %> 
	</body>
</html>