<!DOCTYPE html>
<html lang="it">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Roses & Tea</title>
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
		<link rel="stylesheet" href="/css/reset.css">
		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/header.css">
		<link rel="stylesheet" href="/css/carousel.css">
		<link rel="stylesheet" href="/css/main-eventi.css">
		<link rel="stylesheet" href="/css/footer.css">
		<link rel="stylesheet" href="/css/body.css">
	</head>
	<body>
		<header>
			<nav id="main-navbar">
				<ul id="navbar-left">
					<li><a href="/chi-siamo">CHI SIAMO</a></li>
					<li><a href="/cataloghi">CATALOGHI / MENU</a></li>
					<li><a href="/eventi">EVENTI</a></li>
				</ul>
				<ul id="navbar-center">
					<li><a href="/"><figure><img id="logo" src="/img/logo.png" alt="Roses & Tea"></figure></a></li>
				</ul> 
				<ul id="navbar-right">
					<li><a href="/brunch-afternoon-tea">BRUNCH / AFTERNOON TEA</a></li>
					<li><a href="/shop">SHOP</a></li>
					<li><a href="/conttato">CONTATTO</a></li>
				</ul>
			</nav>
			<nav id="burger-menu">
				<a href="#">
					<i class="fas fa-bars"></i>
				</a>
			</nav>
		</header>
		<main>
			<section>
				<article class="img">
					<figure>
						<img src="img/eventi/Roses (80).jpeg" alt="">
					</figure>
					<figure>
						<img src="img/eventi/IMG_4803.jpg" alt="">
					</figure>
				</article>
				<article class="texto">
					<p class="texto">Hai un evento speciale?</p>
					<p>Noi ti aiutiamo a realizzare la festa dei tuoi sogni</p>
					<p>Rendi la tua festa speciale con noi.</p>	
					<p>Organizziamo feste su misura per te con un menu personalizzato con ingredienti di prima qualità. Tutto realizzato con tanto amore.</p>	
					<p class="destacado">Compleanni, baby shower, gender reveal, addio al nubilato, battesimi, comunione, tavoli personalizzati, workshops, banqueting, torte personalizzate, tavoli personalizzati, esposizione di prodotti.</p>
					<button>
						<a href="mailto:eventi@rosesandteaofficial.com">PEDIR PRESUPUESTO</a>
					</button>
				</article>
				<article class="img">
					<figure>
						<img src="img/eventi/IMG_4925.jpg" alt="">
					</figure>
					<figure>
						<img src="img/eventi/IMG_4947.jpeg" alt="">
					</figure>
				</article>
			</section>
		</main>
	<!-- 
						<ul id="content-slider" class="content-slider">
								<li>
									<img src="img/eventi/IMG_4076.jpg" style="width: 100%">
								</li>
								<li>
									<img src="img/eventi/IMG_4803.jpg" style="width: 100%">
								</li>
								<li>
									<img src="img/eventi/IMG_4925.jpg" style="width: 100%">
								</li>
								<li>
									<img src="img/eventi/IMG_4947.jpeg" style="width: 100%">
								</li>
								<li>
								<img src="img/eventi/Roses (80).jpeg" style="width: 100%"> 
								</li>
								<li>
								<img src="img/eventi/IMG_3913 2.jpg" style="width: 100%">
								</li>
						</ul>

	-->
		<footer>
				<section id="footer-first-section">
					<article>
						<figure>
							<img src="/img/footer/delivery.png" alt="delivery">
						</figure>
						<h4>DELIVERY</h4>
					</article>
					<article>
						<figure>
							<img src="/img/footer/conttato.png" alt="conttato">
						</figure>
						<h4>CONTTATO</h4>
					</article>
					<article>
						<figure>
							<img src="img/footer/orari.png" alt="orari">
						</figure>
						<h4>ORARI DE APERTURA</h4>
					</article>
					<article>
						<img src="">
						<h4>REDES</h4>
					</article>
				</section>
				<section id="footer-second-section">
					<p>Via San Dalmazzo 7, 10122 Torino (TO) - Tel. 011.199.222.82 - P.IVA 11885920014</p>
					<p>© 2021 Copyright: Roses & Tea</p>
					<p>rosesandteaofficial.com</p>
				</section>
		</footer>
	</body>
</html>