<!DOCTYPE html>
<html lang="it">
<%- include ("./partials/head") %> 
<body>
	<%- include ("./partials/header") %> 
	</header>
	<main>
		<section id="absolute">
		</section>
		<section class="slideshow-container">
			<article class="mySlides fade">
			  	<figure>
					<img src="/img/home/tuttoperlafesta.jpeg" alt="Tutto per la festa">
			  	</figure>
			  	<section id="text">
					<h2 class="lato-dark">TUTTO PER LA TUA FESTA</h2>
					<p class="lato-regular">Rendi la tua festa speciale con noi.</p>
					<p class="lato-regular">Organizziamo feste su misura per te.</p>
					<a href="/" class="lato-dark">SCROPI PIU</a>
				</section>
			</article>
			<article class="mySlides fade">
			  	<figure class="imgCarrousel">
					<img src="/img/home/tuttoperlafesta.jpeg" alt="Tutto per la festa">
			  	</figure>
			  	<section id="text">
					<h2 class="lato-dark">TUTTO PER LA TUA FESTA</h2>
					<p class="lato-regular">Rendi la tua festa speciale con noi.</p>
					<p class="lato-regular">Organizziamo feste su misura per te.</p>
					<a href="/" class="lato-dark">SCROPI PIU</a>
				</section>
			</article>
			<article class="mySlides">
				<figure class="fade">
				  	<img src="/img/home/letuetorte.jpg" alt="Le tue torte">
				</figure>
				<section id="text">
					<h2 class="lato-dark">LE TUE TORTE PREFERITE</h2>
					<p class="lato-regular">Hai un evento speciale?</p>
					<p class="lato-regular">Noi ti aiutiamo a realizzare la torta dei tuoi sogni.</p>
					<a href="/" class="lato-dark">REQUIDE PREVENTIVO</a>
			  	</section>
			</article>
			<article class="mySlides">
				<figure class="fade">
				  	<img src="/img/home/IMG_3913 2.jpeg" alt="Afternoon tea">
				</figure>
				<section id="text">
					<h2 class="lato-dark">AFTERNOON TEA</h2>
					<p class="lato-regular">Il nostro afternoon tea e perfetto per tutte le tue celebrazioni</p>
					<a href="/" class="lato-dark">SCROPI PIU</a>
			  	</section>
			</article>
			<article class="mySlides">
				<figure class="fade">
				  	<img src="/img/home/IMG_5159.jpeg" alt="Brunch">
				</figure>
				<section id="text">
					<h2 class="lato-dark">BRUNCH ALWAYS IS A GOOD IDEA</h2>
					<p class="lato-regular">Un Brunch fresco e variegato da gustare in compagnia di famiglia e amici in una magica atmosfera.</p>
					<a href="/" class="lato-dark">SCROPI PIU</a>
				</section>
			</article>
			
			<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
			<a class="next" onclick="plusSlides(1)">&#10095;</a> 

 			<article class="dots">
				<span class="dot" onclick="currentSlide(1)"></span> 
				<span class="dot" onclick="currentSlide(2)"></span> 
				<span class="dot" onclick="currentSlide(3)"></span> 
				<span class="dot" onclick="currentSlide(4)"></span> 
				<span class="dot" onclick="currentSlide(5)"></span> 
			</article>	
		</section>
			<script>
				var slideIndex = 1;
				showSlides(slideIndex);
	
				function plusSlides(n) {
				showSlides(slideIndex += n);
				}
	
				function currentSlide(n) {
				showSlides(slideIndex = n);
				}
	
				function showSlides(n) {
				var i;
				var slides = document.getElementsByClassName("mySlides");
				var dots = document.getElementsByClassName("dot");
				if (n > slides.length) {slideIndex = 1}    
				if (n < 1) {slideIndex = slides.length}
				for (i = 0; i < slides.length; i++) {
					slides[i].style.display = "none";  
				}
				for (i = 0; i < dots.length; i++) {
					dots[i].className = dots[i].className.replace(" active", "");
				}
				slides[slideIndex-1].style.display = "block";  
				dots[slideIndex-1].className += " active";
				}
			</script>		
		<section id="home-video">
			<h2 class="homeTitle">
				ROSES & TEA<br>PARTIES
			</h2>
			<figure>
				<video controls>
					<source src="/img/home/Roses-parties.mov" type="video/mp4" alt="Roses & Tea video">
				</video>
			</figure>
		</section>
		<section id="home-gallery">
			<h2 class="homeTitle">
				IL NOSTRO<br>LOCALE
			</h2>
			<article id="gallery">
				<section id="img-principal">
					<figure class="pic-1">
						<img src="/img/home/IMG_8667.jpg" alt="Nostro locale">
					</figure>
				</section>
				<section id="img-secundaria">
					<figure class="pic-2">
						<img src="/img/home/IMG_8667.jpg" alt="Nostro locale">
					</figure>
					<figure class="pic-3">
						<img src="/img/home/IMG_8667.jpg" alt="Nostro locale">
					</figure>
					<figure class="pic-4">
						<img src="/img/home/IMG_9180.jpg" alt="Nostro locale">
					</figure>
				</section>
			</article>
		</section>
	</main>
	<%- include ("./partials/footer") %> 
</body>
</html>