<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Roses & Tea</title>
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/carousel.css">
	<link rel="stylesheet" href="/css/main-index.css">
	<link rel="stylesheet" href="/css/footer.css">
	<link rel="stylesheet" href="/css/body.css">
</head>
<body>
	<header>
		<nav id="main-navbar">
			<ul id="navbar-left">
				<li><a href="/chi-siamo">CHI SIAMO</a></li>
				<li><a href="/cataloghi">CATALOGHI / MENU</a></li>
				<li><a href="/eventi">EVENTI</a></li>
			</ul>
			<ul id="navbar-center">
				<li><a href="/"><figure><img id="logo" src="/img/logo.png"></figure></a></li>
			</ul> 
			<ul id="navbar-right">
				<li><a href="/brunch-afternoon-tea">BRUNCH / AFTERNOON TEA</a></li>
				<li><a href="/shop">SHOP</a></li>
				<li><a href="/conttato">CONTATTO</a></li>
			</ul>
		</nav>
		<nav id="burger-menu">
			<a href="#">
				<i class="fas fa-bars"></i>
			</a>
		</nav>
	</header>
	<main>
		<section class="slideshow-container">
			<article class="mySlides fade">
			  	<figure>
					<img src="/img/home/tuttoperlafesta.jpeg">
			  	</figure>
			  	<section class="text">
					<p class="tituloCarousel">TUTTO PER LA TUA FESTA</p>
					<p>Rendi la tua festa speciale con noi.</p>
					<p>Organizziamo feste su misura per te.</p>
				</section>
			</article>
			
			<article class="mySlides ">
				<figure class="fade">
				  	<img src="/img/home/unpostomagico.jpg">
				</figure>
				<section class="text">
					<p class="tituloCarousel">UN POSTO MAGICO</p>
					<p>Da Roses And Tea è sempre primavera.</p>
					<p>Visita un posto con un’ atmosfera meravigliosa.</p>
			  </section>
			</article>
			
			<article class="mySlides">
				<figure class="fade">
				  	<img src="/img/home/letuetorte.jpg">
				</figure>
				<section class="text">
					<p class="tituloCarousel">LE TUE TORTE PREFERITE</p>
					<p>Hai un evento speciale?</p>
					<p>Noi ti aiutiamo a realizzare la torta dei tuoi sogni.</p>
			  </section>
			</article>

			<article class="mySlides">
				<figure class="fade">
				  	<img src="/img/home/IMG_3913 2.jpeg">
				</figure>
				<section class="text">
					<p class="tituloCarousel">AFTERNOON TEA</p>
					<p>Il nostro afternoon tea e perfetto per tutte le tue celebrazioni</p>
			  </section>
			</article>

			<article class="mySlides">
				<figure class="fade">
				  	<img src="/img/home/IMG_5159.jpeg">
				</figure>
				<section class="text">
					<p class="tituloCarousel">BRUNCH ALWAYS IS A GOOD IDEA</p>
					<p>Un Brunch fresco e variegato da gustare in compagnia di famiglia e amici in una magica atmosfera.</p>
			  </section>
			</article>
			
			<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
			<a class="next" onclick="plusSlides(1)">&#10095;</a> 

 			<article class="dots">
				<span class="dot" onclick="currentSlide(1)"></span> 
				<span class="dot" onclick="currentSlide(2)"></span> 
				<span class="dot" onclick="currentSlide(3)"></span> 
				<span class="dot" onclick="currentSlide(4)"></span> 
				<span class="dot" onclick="currentSlide(5)"></span> 
			</article>	
		</section>
				
			<script>
				var slideIndex = 1;
				showSlides(slideIndex);
	
				function plusSlides(n) {
				showSlides(slideIndex += n);
				}
	
				function currentSlide(n) {
				showSlides(slideIndex = n);
				}
	
				function showSlides(n) {
				var i;
				var slides = document.getElementsByClassName("mySlides");
				var dots = document.getElementsByClassName("dot");
				if (n > slides.length) {slideIndex = 1}    
				if (n < 1) {slideIndex = slides.length}
				for (i = 0; i < slides.length; i++) {
					slides[i].style.display = "none";  
				}
				for (i = 0; i < dots.length; i++) {
					dots[i].className = dots[i].className.replace(" active", "");
				}
				slides[slideIndex-1].style.display = "block";  
				dots[slideIndex-1].className += " active";
				}
			</script>	
			
		<section id="home-video">
			<h2 class="homeTitle">
				ROSES & TEA PARTIES
			</h2>
			<figure>
				<video controls>
					<source src="/img/home/Roses-parties.mov" type="video/mp4">
				</video>
			</figure>
		</section>
		<section id="home-gallery">
			<h2 class="homeTitle">
				IL NOSTRO LOCALE
			</h2>
			<article id="gallery">
				<section id="img-principal">
					<figure class="pic-1">
						<img src="/img/home/IMG_8667.jpg">
					</figure>
				</section>
				<section id="img-secundaria">
					<figure class="pic-2">
						<img src="/img/home/IMG_8667.jpg">
					</figure>
					<figure class="pic-3">
						<img src="/img/home/IMG_8667.jpg">
					</figure>
					<figure class="pic-4">
						<img src="/img/home/IMG_9180.jpg">
					</figure>
				</section>
			</article>
		</section>
	</main>
	<footer>
		<section id="footer-first-section">
			<article>
				<figure>
					<img src="/img/footer/delivery.png">
				</figure>
				<h4>DELIVERY</h4>
			</article>
			<article>
				<figure>
					<img src="/img/footer/conttato.png">
				</figure>
				<h4>CONTTATO</h4>
			</article>
			<article>
				<figure>
					<img src="img/footer/orari.png">
				</figure>
				<h4>ORARI DE APERTURA</h4>
			</article>
			<article>
				<img src="">
				<h4>REDES</h4>
			</article>
		</section>
		<section id="footer-second-section">
			<p>Via San Dalmazzo 7, 10122 Torino (TO) - Tel. 011.199.222.82 - P.IVA 11885920014</p>
			<p>© 2021 Copyright: Roses & Tea</p>
			<p>rosesandteaofficial.com</p>
		</section>
	</footer>
	

</body>

</html>