<footer>
    <section id="footer-first-section">
        <article>
            <figure>
                <img src="/img/footer/delivery.png" alt="delivery">
            </figure>
            <h4>DELIVERY</h4>
        </article>
        <article>
            <figure>
                <img src="/img/footer/conttato.png" alt="conttato">
            </figure>
            <h4>CONTTATO</h4>
        </article>
        <article>
            <figure>
                <img src="img/footer/orari.png" alt="orari">
            </figure>
            <h4>ORARI DE APERTURA</h4>
        </article>
        <article>
            <img src="">
            <h4>REDES</h4>
        </article>
    </section>
    <section id="footer-second-section">
        <p>Via San Dalmazzo 7, 10122 Torino (TO) - Tel. 011.199.222.82 - P.IVA 11885920014</p>
        <p>© 2021 Copyright: Roses & Tea</p>
        <p>rosesandteaofficial.com</p>
    </section>
</footer>