<header>
    <nav id="main-navbar" class="lato-bold">
        <nav id="close">
            <a href="#"><i class="fas fa-times"></i></a>
        </nav>
        <nav id="navbar-left" class="navbar">
            <a href="/chi-siamo">CHI SIAMO</a>
            <a href="/cataloghi">CATALOGHI / MENU</a>
            <a href="/eventi">EVENTI</a>
        </nav>
        <nav id="navbar-center">
            <a href="/">
                <figure>
                    <img id="logo" src="/img/logo.png" alt="Roses & Tea">
                </figure>
            </a>
        </nav>
        <nav id="navbar-right" class="navbar">
            <a href="/brunch-afternoon-tea">BRUNCH / AFTERNOON TEA</a>
            <a href="/shop">SHOP</a>
            <a href="/conttato">CONTATTO</a>
        </nav>
    </nav>
    <nav id="navbar-logo">
        <a href="/">
            <figure>
                <img id="logo" src="/img/logo.png" alt="Roses & Tea">
            </figure>
        </a>
    </nav>
    <nav id="burger-menu">
        <a href="#main-navbar">
            <i class="fas fa-bars"></i>
        </a>
    </nav>
</header>