<!DOCTYPE html>
<html lang="it">
	<%- include ("./partials/head") %> 
<body>
	<%- include ("./partials/header") %> 
	<main>
		<section class="chisiamoFlorencia">
			<figure>
				<img class="img-rounded" src="/img/chi siamo/florencia.jpg"  alt="Rose & Tea">
			</figure>
			<article>
				<p>Mi chiamo Florencia, ho 32 anni, sono Argentina. Fin da piccola sognavo di aprire la mia sala da tè. Volevo aprire un posto multiculturale, dove si respirasse aria di mondo, dove la gente potesse vivere un’ esperienza unica in un’ atmosfera da sogno. E’ stato così che ho ristrutturato un locale storico del 1600 nel quadrilatero Romano di Torino ed il sogno ha iniziato a prendere forma…atmosfera floreale, raffinata pasticceria, ottima attenzione, un team di lavoro appassionato, servizi da tè da sogno, selezione di infusi da tutto il mondo. 
					Proponiamo menu breakfast, Brunch, pranzo, Afternoon tea, apertivi, organizziamo eventi dentro e fuori Roses (compleanni, battesimi, Baby shower, comunioni, workshop, sweet-tables, banqueting, tavoli dolci per matrimoni. Abbiamo un nostro catalogo di torte Roses e trasformiamo il tuo sogno in realtà. Realizziamo sapori unici da ogni parte del mondo.</p>
				<p class="destacado">Vi invito a conoscere e vivere l’esperienza Roses...</p>
				<p class="destacado">Vi invito a sognare...</p>
			</article>
		</section>
		<section class="chisiamoTeam">
			<h2 class="title">NUESTRO EQUIPO</h2>
			<article>
				<figure>
					<img class="img-rounded" src="/img/chi siamo/foto2.jpg"  alt="Rose & Tea">
				</figure>
				<section>
					<p class="destacado">MARÍA TAMBURRANO</p>
					<p>Pasticciera</p>
				</section>
			</article>
			<article>
				<figure>
					<img src="" alt="">
				</figure>
			</article>
		</section>
	</main>
	<%- include ("./partials/footer") %> 
</body>
</html>